@*@model StockTracking.Mvc.Models.ProductModel*@


@{
	Layout = null;
}


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Products</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>

</head>





@*<h3>Product Table</h3>
<br>
<table class="table table-bordered">
	<tr>
		<th>Product Name </th>
		<th>Supplier Id</th>
		<th>Category Id</th>
		<th>Brand Id</th>
		<th>Barcode </th>
		<th>Unit Price </th>
		<th>Units in Stock </th>
		<th>Units in Order </th>
	</tr>*@

<body>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>


	<script type="text/javascript">

		$(document).ready(function () {
			
			$("#jqGrid").jqGrid({
				url: '@Url.Action("GetProducts","Product")',
				mtype: "POST",
				datatype: "json",
				colmodel: [
					{ name: 'ProductId', label: 'Product ID', width: 75 },
					{ name: 'Name', label: 'Product', width: 150 },
					{ name: 'SupplierId', label: 'Supplier ID', width: 75 },
					{ name: 'CategoryId', label: 'Category ID', width: 75 },
					{ name: 'BrandId', label: 'Brand ID', width: 75 },
					{ name: 'Barcode', label: 'Barcode', width: 75 },
					{ name: 'UnitPrice', label: 'Unit Price', width: 150 },
					{ name: 'UnitsInStock', label: 'Units in Stock', width: 150 },
					{ name: 'UnitsInOrder', label: 'Units in Order', width: 150 },
				]

				//viewrecords: true,
				//width: 780,
				//height: 250,
				//rowNum: 20,
				//pager: "#jqGridPager"
			});
		});
		


	</script>
</body>



@*<tr>
	<td>1</td>
	<td>Mouse</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>24527827</td>
	<td>100$</td>
	<td>1000</td>
	<td>50</td>
	<td><button class="btn btn-success">Update</td>
	<td><button class="btn btn-warning">Delete</td>
	<tr>*@


@*	@foreach (var item in Model)
	{
		<tr>
			<td>@item.ProductName</td>
			<td>@item.SupplierId</td>
			<td>@item.CategoryId</td>
			<td>@item.BrandId</td>
			<td>@item.Barcode</td>
			<td>@item.UnitPrice</td>
			<td>@item.UnitInStock</td>
			<td>@item.UnitsInOrder</td>
			<td><button class="btn btn-success">Update</td>
			<td><button class="btn btn-warning">Delete</td>
		</tr>
	}*@


@*<button class="btn btn-info">New Product </button>*@
@*<a href="/Product/AddProduct" class="btn btn-info">New Product</a>*@


@*<button class="btn btn-primary" data-toggle=" modal" data-target="#Modal1">
    New Product
</button>
<div class="modal" id="Modal1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Add new product page </h2>
			</div>
			<form method="post" action="/Product/AddProduct/ ">
				<div class="modal body">
					<div class="form-group">

					</div>
					<button class="btn btn-info">Save</button>

				</div>
			</form>
		</div>
	</div>
</div>*@


@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  New Product
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new product page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>*@

@*@Html.Partial("AddProductPartial")*@

@*<script type="text/javascript">
	$(function () {
		$("#exampleModal").click(function () {
			$.ajax({
				url: '/Product/AddProduct/',
				type: 'POST',
				datatype: 'json',
				success: function (data) {
					document.getElementById("#exampleModal").style.display = "none";
				}
			  Error: function (data) {
					console.log(error);
				}
			});
		});
	});
</script>*@


@*<script>
	const url = '@Url.Action("Add", "AddProduct")';
	const placeHolderDiv = $('#exampleModal');
	$.get(url).done(function (data) {
		placeHolderDiv.html(data);
		placeHolderDiv.find(".modal").modal("show");
	});
</script>
<button class="btn btn-danger">Product Descriptions</button>

*@

@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>*@

@*navbar geçişler*@



